body {
    margin: 0;
    padding: 0;
    background-color: peachpuff;
    background: url('../images/home-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;

}

